
/**
 * @file
 * Admin modifications.
 *
 * Created by: Topsitemakers
 * http://www.topsitemakers.com/
 */


/*******************************************************************************
 * Various elements
 ******************************************************************************/
/* Add margins to messages div displayed within views preview wrap. */
.views-preview-wrapper .messages {
  margin-left: 17px;
  margin-right: 9px;
}
/* Space the "Update preview" button on view edit page. */
.preview-submit-wrapper .arguments-preview.button {
  margin-left: 1em;
}
/* Forms with monospace textareas. */
form.monospace-textarea textarea {
  font-family: monospace;
  font-size: 1.5em;
}
/* Various elements end */
